  <% @articles.each do |article| %>
    <div class="news-block clearfix">
      <div class="news-img">
        <%= image_tag article.image.url(:thumb) if article.image_file_name.present? %>
      </div>
      <% if I18n.locale == :en %>
          <div class="news-description">
            <%=
              if article.en_title.present?
                link_to article.en_title, article_path(article)
              else
                link_to article.title, article_path(article)
              end
            %>
          </div>
          <div class="news-type">
            <% if article.type.present? %>
                <% if article.type.en_name.present? %>
                    <%= article.type.en_name %>
                <% else %>
                    <%= article.type.name %>
                <% end %>
            <% end %>
          </div>
      <% elsif I18n.locale == :kz %>
          <div class="news-description">
            <%=
              if article.kz_title.present?
                link_to article.kz_title, article_path(article)
              else
                link_to article.title, article_path(article)
              end
            %>
          </div>
          <div class="news-type">
            <% if article.type.present? %>
                <% if article.type.kz_name.present? %>
                    <%= article.type.kz_name %>
                <% else %>
                    <%= article.type.name %>
                <% end %>
            <% end %>
          </div>
      <% else %>
          <div class="news-description">
            <%= link_to article.title, article_path(article) %>
          </div>
          <div class="news-type">
            <%= article.type.name if article.type.present? %>
          </div>
      <% end %>
      <div class="news-date">
        <%= article.created_at.strftime('%d.%m.%Y') %>
      </div>
    </div>
  <% end %>
<div class="paginate">
  <%= paginate @articles %>
</div>
