<%= javascript_include_tag "jquery.mosaicflow.min" %>

<div class="clearfix mosaicflow">
  <% @images.each do |pic| %>
      <div class="mosaicflow__item"><%= link_to image_tag( pic.image.url(:medium)), '#', data: { toggle: "modal", target: "#Modal#{pic.id}" } %></div>
      <div id="Modal<%= pic.id %>" class="modal fade" role="dialog">
        <%= render 'modal', pic: pic %>
      </div>
  <% end %>
</div>
<div class="paginate">
  <%= paginate @images %>
</div>


<script>
  $(function() {
    var mosaic = $( ".mosaicflow" ).mosaicflow( {
      itemSelector: ".item",
      minItemWidth: 300
    });

    setTimeout(function(){
      mosaic.mosaicflow('refill');
    },300);
  });
</script>

