<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Cайт посольства Республики Казахстан в Кыргызской Республике</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-1">
  <% headlines = Headline.where(show: true)
     if headlines.any? && headlines.last.present?
       line = Headline.last %>
      <div class="head_bar" style="
      height: <%= line.height %>px;
          line-height: <%= line.height if line.title.length < 80 %>px;
          background-color: <%= line.color %>;
      ">
        <% if line.url.present? %>
            <% if I18n.locale == :kz && line.kz_title.present? %>
                <%= link_to line.kz_title, line.url, target: '_blank', style: "color: #{line.font_color}; font-size: #{line.font_size}px" %>
            <% elsif I18n.locale == :en && line.en_title.present? %>
                <%= link_to line.en_title, line.url, target: '_blank', style: "color: #{line.font_color}; font-size: #{line.font_size}px" %>
            <% else %>
                <%= link_to line.title, line.url, target: '_blank', style: "color: #{line.font_color}; font-size: #{line.font_size}px" %>
            <% end %>
        <% else %>
            <% if I18n.locale == :kz && line.kz_title.present? %>
                <span style="color: <%=line.font_color %>; font-size: <%=line.font_size %>px"><%= line.kz_title %> </span>
            <% elsif I18n.locale == :en && line.en_title.present? %>
                <span style="color: <%=line.font_color %>; font-size: <%=line.font_size %>px"><%= line.en_title %> </span>
            <% else %>
                <span style="color: <%=line.font_color %>; font-size: <%=line.font_size %>px"><%= line.title %> </span>
            <% end %>
        <% end %>
      </div>
  <% end %>
  <div class="top">
      <div class="lang">
        <span>
          <%= link_to_unless_current "Қаз", locale: "kz" %>
          <%= link_to_unless_current "Рус", locale: "ru" %>
          <%= link_to_unless_current "Eng", locale: "en" %>
        </span>
      </div>
      <div class="social-block">
        <div class="social">
          <a href="https://www.facebook.com/kaz.embassykg/" target="_blank"><img src="/images/icons/facebook.png"/></a>
          <a href="https://twitter.com/kazembassykg" target="_blank"><img src="/images/icons/twitter.png"/></a>
          <a href="https://www.flickr.com/photos/kazembassykg" target="_blank"><img src="/images/icons/flickr.png"/></a>
          <a href="https://www.youtube.com/channel/UCcnpGGodLIPZwOgeVUPfCrw" target="_blank"><img src="/images/icons/youtube.png"/></a>
        </div>
      </div>
      <div class="text-block">
        <a href="/"><%= t 'top-text' %></a>
      </div>
  </div>
  <div>
    <%= render "articles/slideshow" %>
  </div>
  <div class="information-block clearfix">
    <div class="sidebar">
      <div><%= render "layouts/menu" %></div>
      <div><%= render "events/calendar_links" %></div>
      <div><%= render "layouts/third_party_links" %></div>
    </div>
    <div class="content-block">
      <div class="menu-in-content clearfix">
        <div class="menu-block">
          <ul class="nav nav-pills">
            <li class='<%= "active" if current_page?(articles_path) %>'><%= link_to t("news"), articles_path %></li>
            <li class='<%= "active" if current_page?(manifestos_path) %>'><%= link_to t("manifestos"), manifestos_path %></li>
            <li class='<%= "active" if current_page?(events_path) %>'><%= link_to t("calendar"), events_path %></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <%= t "gallery" %><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t("all"), galleries_path %>
                </li>
                <% ImagesCategory.all.each do |cat| %>
                    <li>
                      <% if I18n.locale == :en && cat.en_title.present? %>
                          <%= link_to cat.en_title, get_categories_path(cat) %>
                      <% else %>
                          <%= link_to cat.title, get_categories_path(cat) %>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
        <div class="search-block">
          <%= form_tag("/#{I18n.locale}/search", method: "get", class: "form-horizontal") do %>
              <div class="form-row">
                <span>
                  <%= text_field_tag :q, params[:q], class: 'form-control input-txt'%>
                </span>
                <span>
                  <%= submit_tag t("search"), name: nil, class: 'btn btn-primary' %>
                </span>
              </div>
          <% end %>
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>

</body>

</html>
