<!DOCTYPE html>
<html>
<head>
  <title>KazEmbKg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <table class="top-image">
    <tr>
      <td>
        <img src="/images/Kaz-Emb.jpg"/>
      </td>
      <td>
        <div class="social">
          <a href="https://www.facebook.com/kaz.embassykg/" target="_blank"><img src="/images/icons/facebook.png"/></a>
          <a href="https://twitter.com/kazembassykg" target="_blank"><img src="/images/icons/twitter.png"/></a>
          <a href="https://www.flickr.com/photos/kazembassykg" target="_blank"><img src="/images/icons/flickr.png"/></a>
          <a href="https://www.youtube.com/channel/UCcnpGGodLIPZwOgeVUPfCrw" target="_blank"><img src="/images/icons/youtube.png"/></a>
        </div>
      </td>
    </tr>
  </table>
  <div>
    <%= render "layouts/slideshow" %>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-3">
      <div><%= render "layouts/menu" %></div>
      <div><%= render "layouts/third_party_links" %></div>
    </div>
    <div class="col-xs-14 col-md-9">
      <ul class="nav nav-pills">
        <li class='<%= "active" if current_page?(root_path) %>'><a href="/">Главная</a></li>
        <li ><a href="#">Контакты</a></li>
        <li class='<%= "active" if current_page?(galleries_path) %>'><a href="/galleries">Галерея</a></li>
      </ul>
        <div class="content">
          <%= yield %>
        </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</html>
