<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>KazEmbKg</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="top">
    <div class="row">
      <div class="col-md-2">
        <div class="social">
          <a href="https://www.facebook.com/kaz.embassykg/" target="_blank"><img src="/images/icons/facebook.png"/></a>
          <a href="https://twitter.com/kazembassykg" target="_blank"><img src="/images/icons/twitter.png"/></a>
          <a href="https://www.flickr.com/photos/kazembassykg" target="_blank"><img src="/images/icons/flickr.png"/></a>
          <a href="https://www.youtube.com/channel/UCcnpGGodLIPZwOgeVUPfCrw" target="_blank"><img src="/images/icons/youtube.png"/></a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="top__text-position">
        <div class="top-text">
          <div class="kz-text">
            <span>Қазақстан Республиқасының Кырғыз Республикасындағы Елшілігінің сайты</span>
          </div>
          <div class="ru-text">
            <span>Caйт Посольства Республики Казахстан в Кыргызской Республике</span>
          </div>
          <div class="en-text">
            <span>Official web site of Embassy of the Republic of Kazakhstan in the Kyrgyz Republic</span>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= render "articles/slideshow" %>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-3">
      <div><%= render "layouts/menu" %></div>
      <div><%= render "events/calendar_links" %></div>
      <div><%= render "layouts/third_party_links" %></div>
    </div>
    <div class="col-xs-14 col-md-9">
      <ul class="nav nav-pills">
        <li class='<%= "active" if current_page?(articles_path) %>'><a href="/articles">Новости</a></li>
        <li class='<%= "active" if current_page?(events_path) %>'><a href="/events">Календарь</a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Галерея <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% ImagesCategory.all.each do |cat| %>
              <li><%=link_to cat.title, get_categories_path(cat) %></li>
            <% end %>
          </ul>
        </li>
        <li class="pull-right">
          <%= form_tag("/search", method: "get", class: "form-horizontal") do  %>
            <div class="form-group">
              <div class="col-md-8">
                <%= text_field_tag :q, params[:q], class: 'form-control' %>
              </div>
              <div class="col-md-3">
                <%= submit_tag "поиск", name: nil, class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
        <div class="content">
          <%= yield %>
        </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>

</body>

</html>
