<!DOCTYPE html>
<html>
<head>
  <title>KazEmbKg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div>

  </div>
  <div class="row">
    <div class="col-xs-4 col-md-3">
      <%= render "layouts/menu" %>
    </div>
    <div class="col-xs-14 col-md-9">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Главная</a></li>
        <li role="presentation"><a href="">Контакты</a></li>
        <li role="presentation"><a href="#">Галерея</a></li>
      </ul>
    <div class="container-fluid">
      <%= yield %>
    </div>

    </div>
  </div>
</div>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</html>
