<!DOCTYPE html>
<html>
<head>
  <title>KazEmbKg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="top_image">
    <img src="/images/Kaz-Emb.jpg"/>
    <div class="social">
    </div>
  </div>
  <div class="owl-carousel">
    <div class="item"><img src="/images/1.jpg"/></div>
    <div class="item"><img src="/images/2.jpg"/></div>
    <div class="item"><img src="/images/3.jpg"/></div>
    <div class="item"><img src="/images/4.jpg"/></div>
    <div class="item"><img src="/images/5.jpg"/></div>
    <div class="item"><img src="/images/6.jpg"/></div>
    <div class="item"><img src="/images/7.jpg"/></div>
    <div class="item"><img src="/images/8.jpg"/></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-3">
      <div><%= render "layouts/menu" %></div>
      <div class="left-images-links">
        <ul>
          <li><a href="http://www.akorda.kz/" target="_blank"><img src="/images/president-site.jpg"/></a></li>
          <li><a href="http://en.government.kz/" target="_blank"><img src="/images/gov-of-kz.jpg"/></a></li>
          <li><a href="http://mfa.kz/" target="_blank"><img src="/images/min-of-kz.jpg"/></a></li>
          <li><a href="http://www.parlam.kz/" target="_blank"><img src="/images/parlament-of-kz.jpg"/></a></li>
          <li><a href="http://www.expo2017astana.com/" target="_blank"><img src="/images/expo2017.jpg"/></a></li>
          <li><a href="http://www.export.gov.kz/" target="_blank"><img src="/images/export-gov.jpg"/></a></li>
          <li><a href="http://forum-astana.org/" target="_blank"><img src="/images/astana-forum.jpg"/></a></li>
          <li><a href="http://www.kazakhstanunsc.com/" target="_blank"><img src="/images/global-sec.jpg"/></a></li>
          <li><a href="http://www.e-history.kz/" target="_blank"><img src="/images/histor-kz.jpg"/></a></li>
          <li><a href="http://www.theatomproject.org/ru" target="_blank"><img src="/images/the-prject-atom.jpg"/></a></li>
          <li><a href="http://strategy2050.kz/ru" target="_blank"><img src="/images/kz2050.jpg"/></a></li>
          <li><a href="http://inform.kz/" target="_blank"><img src="/images/kaz-inform.jpg"/></a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-14 col-md-9">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Главная</a></li>
        <li role="presentation"><a href="">Контакты</a></li>
        <li role="presentation"><a href="#">Галерея</a></li>
      </ul>
        <div class="content">
          <%= yield %>
        </div>

    </div>
  </div>
</div>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</html>
